[submodule "iRate"]
	path = iRate
	url = git://github.com/nicklockwood/iRate.git
[submodule "KeePassLib"]
	path = KeePassLib
	url = git@github.com:iNiKe/KeePassLib.git
[submodule "CocoaHTTPServer"]
	path = CocoaHTTPServer
	url = git://github.com/robbiehanson/CocoaHTTPServer.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "tapkulibrary"]
	path = tapkulibrary
	url = git://github.com/devinross/tapkulibrary.git
